<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
      <th>body</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commenter %></td>
        <td colspan="3"></td>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', topic_post_comments_path%></td>
        <td><%= link_to 'Edit', edit_topic_post_comment_path(params[:topic_id],params[:post_id],comment) %></td>-
        <td><%= link_to 'Destroy', topic_post_comment_path(params[:topic_id],params[:post_id],comment) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_topic_post_comment_path %>
