

<h1>Topics</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Show', topic ,class: 'btn btn-dark' %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) , class: 'btn btn-primary'%></td>
        <td><%= link_to 'Destroy', topic, method: :delete,  class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'posts', topic_posts_path(topic), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New Topic', new_topic_path , remote: true ,id: "new_topic",class: 'btn btn-secondary'%>

