<tbody>
<td><h4><%= post.title %> (<%= post.topic .name %>)</h4>
  <% if post.users.include?(current_user) %>
    <p style="color:lawngreen;">read </p>
  <% else %>
    <p style="color:orangered;">unread</p>
  <% end %></td>
<td><%= link_to 'Show', topic_post_path(post.topic_id,post) , class: "btn btn-success" %></td>
<% if can? :update , post %>
  <td><%= link_to 'Edit', topic_post_path(post.topic_id,post) , class: "btn btn-primary" %></td>
<% end %>
<% if can? :destroy , post %>
  <td><%= link_to 'Destroy', topic_post_path(post.topic_id,post), method: :delete,remote: true, class: "btn btn-destroy", data: { confirm: 'Are you sure?' } %></td>
<% end %>
<td><%= link_to 'comments', topic_post_comments_path(post.topic_id,post) , class: "btn btn-primary" %></td>
</h5>
</tbody>
