<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
     <th><h1>name</h1></th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>


     <butto>
      <td><h4><%= post.title %> (<%= post.topic .name %>)</h4></td>
       <td><%= link_to 'Show', topic_post_path(post.topic_id,post) , class: "btn btn-success" %></td>
       <td><%= link_to 'Edit', topic_post_path(post.topic_id,post) , class: "btn btn-primary" %></td>
      <td><%= link_to 'Destroy', topic_post_path(post.topic_id,post), method: :delete, class: "btn btn-destroy", data: { confirm: 'Are you sure?' } %></td>
       <td><%= link_to 'comments', topic_post_comments_path(post.topic_id,post) , class: "btn btn-primary" %></td>
       </h5></tr>
   <% end %>

  </tbody>
</table>

<br>
<%  if !params[:topic_id].blank? %>
    <%= link_to 'New_Post',  new_topic_post_path %></button>

<% end %>
<%= will_paginate @posts,renderer: BootstrapPagination::Rails %>