<!DOCTYPE html>
<html>
<head>
  <title>Scaffold</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="container">
  <%= render 'layouts/nav' %>
  <%= render 'layouts/use_modal' %>

<% flash.each do |key,value|  %>
  <div class=" <%= flash_class(key) %>">
    <%=content_tag :div, class: "alert alert-#{['success','notice'].include?(key) ? "success" : 'danger'}" do %>
      <%= value %>
    <% end %>
  </div>
<%end %>
<%= yield %>
</div>
</body>
</html>
